#home {
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a {
    margin: 5px 15px;
}

#caixa1 {
    background-image: url(img/money.jpg);
}

.titulo {
    color: rgb(16, 15, 114);
    background-color: white;
    text-transform: uppercase
}

#home2 {
    background: white;
    color:black;
}

#parallax {
    background: url(img/stock.jpg) no-repeat;
    background-attachment: fixed;
    
}

#paragrafo {
    text-align: center;
    background: white;
    color: blue;
    font-size: 15px;
}

#paragrafo2 {
    text-align: center;
    background: white;
    color: blue;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    #parallax {
        height: 300px;
       }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
   #parallax {
    height: 300px;
   }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
   #parallax {
    height: 400px;
   }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
   #parallax {
    height: 500px;
   }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
   #parallax {
    height: 600px;
   }
}